In [1]:
import pandas as pd
import numpy as np

In [2]:
injuries = pd.read_csv('InjuryRecord.csv')

In [3]:
injuries.head()

,PlayerKey,GameID,PlayKey,BodyPart,Surface,DM_M1,DM_M7,DM_M28,DM_M42
0,39873,39873-4,39873-4-32,Knee,Synthetic,1,1,1,1
1,46074,46074-7,46074-7-26,Knee,Natural,1,1,0,0
2,36557,36557-1,36557-1-70,Ankle,Synthetic,1,1,1,1
3,46646,46646-3,46646-3-30,Ankle,Natural,1,0,0,0
4,43532,43532-5,43532-5-69,Ankle,Synthetic,1,1,1,1

In [4]:
playlist = pd.read_csv('PlayList.csv')

In [5]:
playlist.head()

,PlayerKey,GameID,PlayKey,RosterPosition,PlayerDay,PlayerGame,StadiumType,FieldType,Temperature,Weather,PlayType,PlayerGamePlay,Position,PositionGroup
0,26624,26624-1,26624-1-1,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,1,QB,QB
1,26624,26624-1,26624-1-2,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,2,QB,QB
2,26624,26624-1,26624-1-3,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,3,QB,QB
3,26624,26624-1,26624-1-4,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,4,QB,QB
4,26624,26624-1,26624-1-5,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,5,QB,QB

In [23]:
p1 = playlist[playlist['PlayerKey'] == 36557]

In [27]:
p1[p1['PlayKey'] == '36557-1-70']

,PlayerKey,GameID,PlayKey,RosterPosition,PlayerDay,PlayerGame,StadiumType,FieldType,Temperature,Weather,PlayType,PlayerGamePlay,Position,PositionGroup
26675,36557,36557-1,36557-1-70,Safety,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,70,SS,DB

In [33]:
set(injuries['BodyPart'])

{'Ankle', 'Foot', 'Heel', 'Knee', 'Toes'}

In [47]:
for i in set(injuries['BodyPart']):
    df = injuries[injuries['BodyPart'] == i]
    s = len(df[df.Surface == 'Synthetic'])
    n = len(df[df.Surface == 'Natural'])
    print("For {} injury: sythetic={}, natural={}".format(i, s, n))

For Knee injury: sythetic=24, natural=24
For Heel injury: sythetic=0, natural=1
For Ankle injury: sythetic=25, natural=17
For Toes injury: sythetic=6, natural=1
For Foot injury: sythetic=2, natural=5

In [48]:
plays = pd.read_csv('PlayerTrackData.csv')

In [49]:
plays.head()

,PlayKey,time,event,x,y,dir,dis,o,s
0,26624-1-1,0.0,huddle_start_offense,87.46,28.93,288.24,0.01,262.33,0.13
1,26624-1-1,0.1,NaN,87.45,28.92,283.91,0.01,261.69,0.12
2,26624-1-1,0.2,NaN,87.44,28.92,280.40,0.01,261.17,0.12
3,26624-1-1,0.3,NaN,87.44,28.92,278.79,0.01,260.66,0.10
4,26624-1-1,0.4,NaN,87.44,28.92,275.44,0.01,260.27,0.09

In [51]:
plays[plays.PlayKey == '36557-1-70']

            PlayKey  time     event      x      y     dir   dis       o     s
7727218  36557-1-70   0.0  line_set  83.69  30.37   64.58  0.06   18.69  0.59
7727219  36557-1-70   0.1       NaN  83.74  30.39   64.68  0.06   22.85  0.55
7727220  36557-1-70   0.2       NaN  83.79  30.40   64.47  0.05   26.83  0.50
7727221  36557-1-70   0.3       NaN  83.84  30.43   64.51  0.06   29.94  0.45
7727222  36557-1-70   0.4       NaN  83.89  30.43   62.67  0.05   31.88  0.40
7727223  36557-1-70   0.5       NaN  83.93  30.44   58.33  0.04   33.10  0.34
7727224  36557-1-70   0.6       NaN  83.97  30.43   53.69  0.04   33.74  0.27
7727225  36557-1-70   0.7       NaN  83.98  30.46   47.76  0.03   33.61  0.19
7727226  36557-1-70   0.8       NaN  84.00  30.49   32.39  0.03   32.12  0.13
7727227  36557-1-70   0.9       NaN  84.01  30.49  359.80  0.01   29.50  0.10
7727228  36557-1-70   1.0       NaN  84.01  30.50  323.47  0.01   26.84  0.12
7727229  36557-1-70   1.1       NaN  84.00  30.52  297.10  0.02   23.61  0.16
7727230  36557-1-70   1.2       NaN  83.99  30.54  280.96  0.02   20.33  0.20
7727231  36557-1-70   1.3       NaN  83.97  30.57  278.62  0.03   16.37  0.26
7727232  36557-1-70   1.4       NaN  83.93  30.58  274.66  0.04   12.32  0.31
7727233  36557-1-70   1.5       NaN  83.87  30.59  271.44  0.06    8.99  0.36
7727234  36557-1-70   1.6       NaN  83.81  30.58  263.44  0.07    6.54  0.38
7727235  36557-1-70   1.7       NaN  83.74  30.56  258.90  0.06    4.34  0.42
7727236  36557-1-70   1.8       NaN  83.69  30.55  257.02  0.06    2.35  0.45
7727237  36557-1-70   1.9       NaN  83.61  30.56  254.27  0.07    0.61  0.47
7727238  36557-1-70   2.0       NaN  83.54  30.53  250.74  0.08  359.27  0.49
7727239  36557-1-70   2.1       NaN  83.48  30.50  245.01  0.07  358.29  0.50
7727240  36557-1-70   2.2       NaN  83.42  30.50  238.87  0.06  357.45  0.52
7727241  36557-1-70   2.3       NaN  83.37  30.48  234.07  0.05  356.73  0.53
7727242  36557-1-70   2.4       NaN  83.32  30.45  230.37  0.06  356.21  0.52
7727243  36557-1-70   2.5       NaN  83.29  30.38  226.47  0.07  356.25  0.51
7727244  36557-1-70   2.6       NaN  83.26  30.34  222.10  0.06  357.13  0.50
7727245  36557-1-70   2.7       NaN  83.22  30.31  218.97  0.04  358.37  0.48
7727246  36557-1-70   2.8       NaN  83.20  30.27  214.49  0.05  359.84  0.46
7727247  36557-1-70   2.9       NaN  83.18  30.23  211.06  0.05    1.76  0.42
...             ...   ...       ...    ...    ...     ...   ...     ...   ...
7727348  36557-1-70  13.0       NaN  73.38  10.94  189.08  0.08   90.50  0.93
7727349  36557-1-70  13.1       NaN  73.36  10.89  187.79  0.06   86.61  0.79
7727350  36557-1-70  13.2       NaN  73.34  10.83  186.17  0.06   81.43  0.66
7727351  36557-1-70  13.3       NaN  73.32  10.78  182.77  0.05   75.29  0.55
7727352  36557-1-70  13.4       NaN  73.30  10.72  177.82  0.06   68.00  0.46
7727353  36557-1-70  13.5       NaN  73.30  10.69  170.71  0.03   60.05  0.39
7727354  36557-1-70  13.6       NaN  73.31  10.69  159.93  0.01   51.85  0.33
7727355  36557-1-70  13.7       NaN  73.32  10.68  145.82  0.02   43.77  0.29
7727356  36557-1-70  13.8       NaN  73.35  10.67  132.01  0.03   36.00  0.28
7727357  36557-1-70  13.9       NaN  73.38  10.66  119.63  0.04   28.57  0.28
7727358  36557-1-70  14.0       NaN  73.42  10.66  109.31  0.04   22.00  0.30
7727359  36557-1-70  14.1       NaN  73.46  10.66  101.73  0.04   16.47  0.31
7727360  36557-1-70  14.2       NaN  73.51  10.66   94.77  0.05   11.91  0.32
7727361  36557-1-70  14.3       NaN  73.56  10.65   87.85  0.05    8.64  0.34
7727362  36557-1-70  14.4       NaN  73.61  10.64   83.12  0.05    6.09  0.34
7727363  36557-1-70  14.5       NaN  73.67  10.65   80.33  0.06    3.52  0.35
7727364  36557-1-70  14.6       NaN  73.74  10.66   77.53  0.07    1.08  0.35
7727365  36557-1-70  14.7       NaN  73.79  10.68   73.78  0.05  358.42  0.34
7727366  36557-1-70  14.8       NaN  73.82  10.69   69.58  0.04  355.33  0.33
7727367  36557-1-70  14.9       NaN  73.86  10.71   65.27  0.04  351.74  0.33
7727368  36557-1-70  15.0       NaN  73.88  10.72   62.37  0.02  347.94  0.32
7727369  36557-1-70  15.1       NaN  73.90  10.73   59.00  0.02  343.78  0.31
7727370  36557-1-70  15.2       NaN  73.90  10.75   54.12  0.02  339.15  0.31
7727371  36557-1-70  15.3       NaN  73.91  10.77   48.54  0.02  333.81  0.30
7727372  36557-1-70  15.4       NaN  73.92  10.79   44.42  0.03  328.31  0.30
7727373  36557-1-70  15.5       NaN  73.94  10.82   40.93  0.03  322.87  0.28
7727374  36557-1-70  15.6       NaN  73.94  10.84   38.23  0.03  317.46  0.27
7727375  36557-1-70  15.7       NaN  73.95  10.87   37.42  0.03  312.32  0.27
7727376  36557-1-70  15.8       NaN  73.96  10.91   37.18  0.03  307.37  0.27
7727377  36557-1-70  15.9       NaN  73.97  10.93   38.16  0.03  302.69  0.27

[160 rows x 9 columns]